# Build
build/
release/
*.exe

# IDE
.vs/
.vscode/
*.user
CMakeLists.txt.user

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
CTestTestfile.cmake
compile_commands.json
DartConfiguration.tcl
Testing/
Makefile
install_manifest.txt
_deps/

# Generated
config.h

# Archives
*.tar.gz
*.zip
